@model User


<form asp-controller="User" asp-action="Register" method="post" class="shadow p-3 rounded">
    <h3 class="text-center mb-4">Register</h3>
    <div class="mb-3">
        <label asp-for="FirstName" class="my-1"></label>
        <input asp-for="FirstName" type="text" class="form-control mb-1">
        <span asp-validation-for="FirstName" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="my-1"></label>
        <input asp-for="LastName" type="text" class="form-control mb-1">
        <span asp-validation-for="LastName" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="my-1"></label>
        <input asp-for="Email" type="text" class="form-control mb-1">
        <span asp-validation-for="Email" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="my-1"></label>
        <input asp-for="Password" class="form-control mb-1">
        <span asp-validation-for="Password" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordConfirm" class="my-1">Confirm Password</label>
        <input asp-for="PasswordConfirm" class="form-control mb-1">
        <span asp-validation-for="PasswordConfirm" class="text-danger fw-bold"></span>
    </div>
    <button class="btn btn-outline-info">Register</button>
</form>